.home1 {
    position: relative;
    top: -70px;
    height: 85vh;
    width: 100vw;
}

.homeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: rgba(163, 157, 157, 0.5); */
    opacity: 0.8;
}

.accImg {
    overflow: hidden;
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.loginForm {
    overflow: hidden;
    position: absolute;
    bottom: 130px;
    right: 150px;
    animation-name: example;
    animation-duration: 1s;
}
@keyframes example{
    from{
        right:-450px;
    }
    to{
        right: 150px;
    }
}
.loginForm:hover,
.loginForm:focus {
    box-shadow: 0px 0px 10px;
    transition: 0.3s ease-in-out;
}

.link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 8px 0px;
}

.link:hover {
    color: rgb(82, 168, 239);
    transition: 0.3s ease-in-out;
}

/* cart style */

.cartButton{
    display:flex;
    flex-direction:column;
    gap:10px;
    position: absolute;
    top:50%;
    left:45%;
}